:root {
    --color1: #36485C;
}

body {
    margin: 0;
    padding: 0;
}

.cabecalho {
    color: var(--color1);
    width: 100wh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;
}

.cabecalho__menu {
    display: flex;
}

.cabecalho__menu a {
    text-decoration: none;
}

.logo {
    padding-right: 76px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 56px;
}

.cabecalho__profile {
    display: flex;
    gap: 56px;
}

.cabecalho__profile img {
    padding-right: 12px;
}